<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/head}"></head>
<body>
    <div class="view-area">
        <div class="main-top">
            <div class="main-top-option">
                <a href="/menuManagement" th:href="@{/menuManagement}">메뉴 관리</a>
            </div>
            <div class="main-top-option">
                <a href="#">테이블 관리</a>
            </div>
            <div class="main-top-option">
                <a href="#">판매 정보</a>
            </div>
        </div>
        <div class="main-room1">
            <div class="room-title">
               <h1>거실</h1>
            </div>
            <div class="table-area">
                <div class="room-table">
                    <a href="/table/1">1번</a>
                </div>
                <div class="room-table">
                    <a href="/table/2">2번</a>
                </div>
                <div class="room-table">
                    <a href="/table/3">3번</a>
                </div>
                <div class="room-table">
                    <a href="/table/4">4번</a>
                </div>
                <div class="room-table">
                    <a href="/table/5">5번</a>
                </div>
            </div>
        </div>
        <div class="main-room2">
            <div class="room-title">
                <h1>앞방</h1>
            </div>
            <div class="table-area">
                <div class="room-table">
                    <a href="/table/6">6번</a>
                </div>
                <div class="room-table">
                    <a href="/table/7">7번</a>
                </div>
                <div class="room-table">
                    <a href="/table/8">8번</a>
                </div>
            </div>
        </div>
        <div class="main-room3">
            <div class="room-title">
                <h1>옆방</h1>
            </div>
            <div class="table-area">
                <div class="room-table">
                    <a href="/table/9">9번</a>
                </div>
                <div class="room-table">
                    <a href="/table/10">10번</a>
                </div>
                <div class="room-table">
                    <a href="/table/11">11번</a>
                </div>
                <div class="room-table">
                    <a href="/table/12">12번</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>