<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/head}"></head>
<body>
    <div class="view-area">
        <div class="main-room1">
            <div class="room-title">
               <h1>거실</h1>
            </div>
            <div>
                <h1>거실 테이블</h1>
            </div>
        </div>
        <div class="main-room2">
            <div class="room-title">
                <h1>앞방</h1>
            </div>
            <div>
                <h1>앞방 테이블</h1>
            </div>
        </div>
        <div class="main-room3">
            <div class="room-title">
                <h1>옆방</h1>
            </div>
            <div>
                <h1>옆방 테이블</h1>
            </div>
        </div>
    </div>
</body>
</html>